.square
{
    height:100px;
    width:100px;
    margin:150px;
    padding:100px;
    transition:transform 3s;
    background-color:darkviolet;
    border-style:double;
    border-color:crimson;

}

.square:hover
{
transform:scale3d(1,2,4) rotate3d(40,40,40,120deg);
}




